.panel#static {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.panel#dynamic {
    height: 100%;
    margin-left: 50%;
}

.panel#static #anchor_img {
    width: 100%;
    height: auto;
}

.panel#dynamic #main_content {
    padding: 15px 35px 15px;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.panel {
    width: 50%;
}

.section {
    margin: 30px 0px 30px;
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: rgb(196, 174, 99);
}

a:hover, a:active {
    text-decoration: underline;
}

ul li {
    margin: 2px 0px 2px;
}

.about_box {
    background-color: rgba(225, 215, 28, 0.9);
    padding: 10px 15px 10px;
    margin: 15px 0px 15px;
    border-radius: 5px;
}

#call-to-action {
    padding: 10px 0px 10px;
}
