#static {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

#scrolling {
    height: 100%;
    margin-left: 50%;
}

#anchor_img {
    width: 100%;
    height: auto;
}

#main_content {
    padding: 0em 2em 0em;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 28px
}

.panel {
    width: 50%;
}

.section {
    padding: 0.3em;
}

a:link {
    text-decoration: none;
    color: rgb(196, 174, 99);
}

a:hover, a:active {
    text-decoration: underline;
}

li {
    margin: 0.1em 0em 0.1em;
}

.about_box {
    background-color: rgba(225, 215, 28, 0.9);
    padding: 0.6em 1em 0.6em;
    margin: 1em 0em 1em;
    border-radius: 0.3em;
}

#call-to-action {
    padding-bottom: 0.5em;
    margin-top: 0em;
}
